<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Refresh" content="3;URL=/upload.html">
    <title>欢迎登录</title>
</head>
<style>
    body{
        margin: 0px;
        background-color: grey;
    }
    h1{
        color:orange;
	text-align:center;
    }
    p{
        padding: 100px;
        color: white;
        text-align:center;
    }
    h2{
         padding: 150px;
        color: white;
        text-align:center;
    }
</style>
<body>
<h1>欢迎{{ user }}用户登录</h1>
<p>请稍后 即将跳转主页面...</p>
<h2><a href="/logout">点此返回登录页面</a></h2>
</body>
</html>